.four-column-grid{
    display:flex;
    flex-direction: row;
    width: 100%;
}

.four-column-grid > div{
    flex: 1 1 50%;
}
.column{
    border-style: solid;
    border-color: black;
    margin: 1px;
}