.four-column-grid{
    display:flex;
    flex-direction: row;
    width: 100%;
}

.four-column-grid > div{
    flex: 50%;
}
.column{
    border-style: solid;
    border-color: black;
    margin: 0px;
    padding: 0px;
    float: left;
    width: 24.68%;
} 
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }